<!DOCTYPE html>
 <html>
  <head></head>
  <body>
   <nav>
    <% if user_signed_in? %>
     <%= "#{current_user.email} |" %>
      <%= link_to t('profile'), edit_user_registration_path %>
     <%= '|' %>
      <%= link_to t('logout'), destroy_user_session_path, method: 'delete' %>
     <% else %>
    <% end %>
     <%= link_to t('login'), new_user_session_path %>
      <%= '|' %>
     <%= link_to t('sign_up'), new_user_registration_path %>  
   </nav>
  </body>

 <% flash.each do |key, value| %>
 <%= content_tag :div,content_tag(:p, value), id: "#{key}" unless value.blank? %>
</html>
