<!DOCTYPE html>
<html>
  <head>
    <title>GoalFunder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "partials/header" %>

    <% flash.each do |key, value| %>
    <%= content_tag :div, content_tag(:p, value), id: "#{key}" unless value.blank? %>
    <% end %>

   <%= yield %>
  </body>
</html>
